<div class="vox_imp__call_result__form__reason {{ widget_code }}">
    <span class="modal-body__close">
        <span class="icon icon-modal-close"></span>
    </span>

  <h2 class="modal-body__caption">{{ lang.bind_number }}</h2>

  <div class="vox_imp__bind_number">
    <div class="vox_imp__bind_number__descr">{{ lang.s1_descr }}</div>
    <div class="vox_imp__bind_number__error"></div>
    <input name="" class="text-input js-bind_phone_input" type="text" placeholder="{{ lang.phone_number }}"
           value="{{ phone }}" maxlength="" autocomplete="off">
    <button type="button" class="button-input" tabindex="" id="{{ widget_code }}_get_code">
                <span class="button-input-inner">
                    <span class="icon"></span>
                    <span class="button-input-inner__text">{{ lang.get_act_key }}</span>
                </span>
    </button>
  </div>
  <div class="vox_imp__bind_number__confirm" style="display:none;">
    <div class="vox_imp__bind_number__confirm__descr">{{ lang.s2_descr }}</div>
    <div class="vox_imp__bind_number__confirm__error"></div>
    <input style="width:70px;" name="" class="vox_imp__call_result__failed_phone text-input js-confirm_phone_input"
           type="text" maxlength="7" autocomplete="off">
    <button type="button" class="button-input" tabindex="" id="{{ widget_code }}_phone_confirm">
            <span class="button-input-inner">
                <span class="icon"></span>
                <span class="button-input-inner__text">{{ lang.confirm }}</span>
            </span>
    </button>
  </div>
  <div><span class="button-cancel modal-list modal-leave-confirm" tabindex="2" id="">{{ lang.cancel }}</span></div>
</div>