<span class="{{ widget_code }} {{ widget_code }}_call__list_wrapper__list__task__icon icon-remove js-vox-icon-remove" data-id="{{ element_id }}" title="{{ lang.remove }}"></span>
<span class="{{ widget_code }} {{ widget_code }}_call__list_wrapper__list__task__icon icon-sortable" title="{{ lang.sorting }}"></span>
<span class="{{ widget_code }} {{ widget_code }}_call__list_wrapper__list__task__contact">
  <a class="js-navigate-link" title="{{ element.text }}" href="{{ element.url }}">{{ element.text }}</a>
</span>
<span class="{{ widget_code }} {{ widget_code }}_call__list_wrapper__list__task__company">
  <a class="js-navigate-link" title="{{ company.text }}" href="{{ company.url }}">{{ company.text }}</a>
</span>
<span class="{{ widget_code }} {{ widget_code }}_call__list_wrapper__list__task__phone">{{ phone }}</span>
<span class="{{ widget_code }} {{ widget_code }}_call__list_wrapper__list__task__last_call">{{ last_call }}</span>