<span class="{{ widget_code }} {{ widget_code }}_call__status__contact__call_type">
    {{ lang.next_call }}
</span>
<span class="{{ widget_code }} {{ widget_code }}_call__status__contact__call_num">{{ phone }}</span>
<span class="{{ widget_code }} {{ widget_code }}_call__status__contact__name">
    <a class="js-navigate-link" title="{{ element.text }}" href="{{ element.url }}">{{ element.text }}</a>
    <a class="js-navigate-link" title="{{ company.text }}" href="{{ company.url }}">{{ company.text }}</a>
</span>
<span class="{{ widget_code }} {{ widget_code }}_call__status__contact__call_phone">{{ phone }}</span>