<div id="vox_imp__call_list_wrapper" class="{{ widget_code }}_call__list_wrapper{% if list_expanded %} expanded{% endif %} {{ widget_code }}">
  <div class="{{ widget_code }}_call__list_wrapper__header">
    <span id="clear_call_list" class="{{ widget_code }}_call__list_wrapper__header_icon icon-clear"
          title="{{ lang.clear }}"></span>

    <div class="{{ widget_code }}_call__list_wrapper__header_additional_option">
      <span id="clear_call_list" class="{{ widget_code }}_call__list_wrapper__header_clear">{{ lang.clear }}</span>
    </div>
    <span class="{{ widget_code }}_call__list_wrapper__header_name">{{ lang.call_list }}:</span>

    <div class="{{ widget_code }}_call__list_wrapper__header__switcher">
      <span class="{{ widget_code }}_call__list_wrapper__header__switcher_text">{{ lang.open_contact_w_calling }}</span>

      <div class="switcher_wrapper">
        <label for="call_list_switcher"
               class="switcher call_list_switcher switcher__{% if open_contact == 1 %}on{% else %}off{% endif %}"
               id=""></label>
        <input type="checkbox" value="Y" name="call_list_switcher" id="call_list_switcher" class="switcher__checkbox">
      </div>
    </div>
  </div>
  <div class="{{ widget_code }}_call__list_wrapper__hint">{{ lang.empty_calls_list }}</div>
  <div class="{{ widget_code }}_call__list_wrapper__list custom-scroll" id="sortable_calls_list"></div>
</div>
<div class="{{ widget_code }}_call__footer {{ widget_code }}">
  <div id="vox_imp__call_list_btn" class="{{ widget_code }}_call__btn {{ widget_code }}_call__list_btn"
       title="{{ lang.call_list }}">
    <span class="nav__notifications__counter call_list_notifications"></span>
  </div>
  <div class="{{ widget_code }}_call__status">
    <div class="{{ widget_code }}_call__status__contact"></div>
    <div class="{{ widget_code }}_call__status__talk">
      <span class="{{ widget_code }}_call__status__talk__time"></span>
            <span id="vox_implant__icon_wrapper" class="{{ widget_code }}__icon_wrapper">
                <span id="vox_imp__rec_call" class="{{ widget_code }}_call__status__talk__rec rec_is_on"
                      title="{{ lang.talk_recording }}"></span>
                <span id="vox_imp__play_call" class="{{ widget_code }}_call__status__queue_pause"
                      title="{{ lang.pause }}"></span>
            </span>
    </div>
  </div>
  <div class="{{ widget_code }}_call_options">
    <div id="vox_imp__mic_btn" class="{{ widget_code }}_call__btn {{ widget_code }}_call__mute_mic_btn mute_is_on"
         title="{{ lang.mute_speaker }}"></div>
    <div class="{{ widget_code }}_call__btn {{ widget_code }}_call__skip_btn" title="{{ lang.skip }}"></div>
    <div id="vox_imp__dial_btn" class="{{ widget_code }}_call__btn {{ widget_code }}_call__dial_btn"
         title="{{ lang.dialling }}"></div>
    <div id="vox_imp__hung_up_btn" class="{{ widget_code }}_call__btn {{ widget_code }}_call__phone_btn js-hungup_call"></div>
  </div>
</div>