<div id="{{ widget_code }}_err_widget" class="{{ widget_code }}">
  <div id="{{ widget_code }}_div_widget" class="{{ widget_code }}_div_widget">
    <div class="already_registred">
      <a class="widget_setting__link" href="#" id="js-{{ widget_code }}-register">{{ lang.register }}</a>
    </div>
    <a class="widget_setting__link" href="#" id="js-{{ widget_code }}-auth">{{ lang.auth }}</a>

    <div id="{{ widget_code }}_login_block" class="widget_settings_block__fields">
      <div class="widget_settings_block__item_field">
        <div class="widget_settings_block__item_field__error js-errors-block"></div>
      </div>
    </div>
    <div id="vox_spinner" class="vox_spinner hidden">
      <span class="spinner-icon"></span>
    </div>
  </div>
</div>