{% set post_text = lang.task_done %}
{% set cancel_class = "js-note-edit-cancel" %}
{% set textarea_class = "note-edit__textarea textarea-autosize" %}
{% if is_add %}
  {% set post_text = lang.task_post %}
  {% set cancel_class = "js-note-add-cancel" %}
  {% set textarea_class = textarea_class ~ " js-note-add-textarea" %}
{% endif %}

<div class="note-edit {% if is_edit %}note-edit-edit{% endif %} {% if is_add %}note-edit-folded js-fileapi-wrapper js-note-add note-edit-add{% endif %}  {{ widget_code }}"
    id="{% if is_add %}note_add{% else %}note_edit_{{ id }}{% endif %}" data-id="{{ id }}"
    {% if is_add %}data-dnd-before="{{ lang.notes_dnd_title_before }}"
    data-dnd-after="{{ lang.notes_dnd_title_after }}"{% endif %}>
  <div class="note-edit-inner clearfix">
    <span class="note-edit__icon icon icon-text"></span>
    {% if is_edit %}
      <dl class="note--header">
        <dd class="note--header--right">{% if linked %} {{ lang.notes_in }} <a href="{{ linked.uri }}"
                                                                               class="js-navigate-link">{{ linked.name }}</a>{% endif %}
        </dd>
        <dt class="note--header--left">
          {% if prev_date == date|task_date('date') %}{{ date|task_date('time', true) }}{% else %}{{ date|task_date }}{% endif %}
          , <b>{{ user.name }}</b>
        </dt>
      </dl>
    {% endif %}
    <div class="note-edit__body">
      <textarea class="{{ textarea_class }}" data-old-value="{{ params.text }}"
                placeholder="{{ lang.note_placeholder }}" tabindex="-1">{{ params.text }}</textarea>
    </div>
    {% if is_add %}
      <div class="note-edit__attaches"></div>{% endif %}
  </div>
  <div class="note-edit__footer">
    <div class="note-edit__actions">

      {# {% include "interface/controls/button.twig" with {text: post_text, tab_index: "-1", disabled: true, class_name: "js-button-with-loader js-note-submit note-edit__actions__submit"} %}
      {% include "interface/controls/cancel_button.twig" with {class_name: cancel_class, tab_index: "-1"} %} #}

      {# instead button.twig #}
      <button type="button"
              class="button-input disabled js-button-with-loader js-note-submit note-edit__actions__submit" tabindex=""
              id="">
				<span class="button-input-inner">
					<span class="icon"></span>
					<span class="button-input-inner__text">{{ post_text }}</span>
				</span>
      </button>
      <span class="button-cancel cancel_class" tabindex="2" id="">No</span>

    </div>
    {% if is_add %}
      <div id="note-edit-attach-buttons">
        <div class="note-edit__actions__attach-btn" id="notes_attach" tabindex="-1">
          <label for="note-edit-attach-file" class="note-edit__attach-label"><span
                class="icon icon-inline icon-attach"></span>{{ lang.note_attach_files }}</label>
          <input type="file" id="note-edit-attach-file" tabindex="-1" name="UserFile" multiple/>
        </div>
      </div>
    {% endif %}
  </div>
</div>
